{
  "openapi": "3.0.1",
  "info": {
    "title": "{Clubsy} - Gestão Esportiva API",
    "description": "API para gerenciar escolinhas e clubes esportivos.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.clubsy.com/v1"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Communication",
      "description": "Endpoints relacionados à comunicação"
    }
  ],
  "paths": {
    "/messages": {
      "get": {
        "tags": ["Communication"],
        "description": "Listar todas as mensagens",
        "responses": {
          "200": {
            "description": "Mensagens retornadas com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Message"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Erro na solicitação",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Communication"],
        "description": "Enviar uma nova mensagem",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewMessage"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Mensagem enviada com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            }
          },
          "400": {
            "description": "Erro na validação dos dados",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/messages/{messageId}": {
      "get": {
        "tags": ["Communication"],
        "description": "Obter detalhes de uma mensagem específica",
        "parameters": [
          {
            "name": "messageId",
            "in": "path",
            "description": "ID da mensagem",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Detalhes da mensagem retornados com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            }
          },
          "404": {
            "description": "Mensagem não encontrada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Communication"],
        "description": "Atualizar uma mensagem",
        "parameters": [
          {
            "name": "messageId",
            "in": "path",
            "description": "ID da mensagem",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MessageUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Mensagem atualizada com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            }
          },
          "400": {
            "description": "Erro na validação dos dados",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Communication"],
        "description": "Excluir uma mensagem",
        "parameters": [
          {
            "name": "messageId",
            "in": "path",
            "description": "ID da mensagem",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Mensagem excluída com sucesso"
          },
          "404": {
            "description": "Mensagem não encontrada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/chats/{chatId}/messages": {
      "get": {
        "tags": ["Communication"],
        "description": "Listar mensagens de um chat específico",
        "parameters": [
          {
            "name": "chatId",
            "in": "path",
            "description": "ID do chat",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Mensagens do chat retornadas com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Message"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Chat não encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Communication"],
        "description": "Enviar uma nova mensagem em um chat",
        "parameters": [
          {
            "name": "chatId",
            "in": "path",
            "description": "ID do chat",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewMessage"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Mensagem enviada com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            }
          },
          "400": {
            "description": "Erro na validação dos dados",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/chats/{chatId}/participants": {
      "get": {
        "tags": ["Communication"],
        "description": "Listar participantes de um chat",
        "parameters": [
          {
            "name": "chatId",
            "in": "path",
            "description": "ID do chat",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Participantes do chat retornados com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Participant"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Chat não encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Communication"],
        "description": "Adicionar participantes a um chat",
        "parameters": [
          {
            "name": "chatId",
            "in": "path",
            "description": "ID do chat",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewParticipant"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Participantes adicionados com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Participant"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Erro na validação dos dados",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Message": {
        "type": "object",
        "properties": {
          "id": { "type": "integer", "format": "int64" },
          "chat_id": { "type": "integer", "format": "int64" },
          "sender_id": { "type": "integer", "format": "int64" },
          "content": { "type": "string" },
          "created_at": { "type": "string", "format": "date-time" },
          "updated_at": { "type": "string", "format": "date-time" }
        }
      },
      "NewMessage": {
        "type": "object",
        "properties": {
          "chat_id": { "type": "integer", "format": "int64" },
          "sender_id": { "type": "integer", "format": "int64" },
          "content": { "type": "string" }
        },
        "required": ["chat_id", "sender_id", "content"]
      },
      "MessageUpdate": {
        "type": "object",
        "properties": {
          "content": { "type": "string" }
        },
        "required": ["content"]
      },
      "Participant": {
        "type": "object",
        "properties": {
          "id": { "type": "integer", "format": "int64" },
          "chat_id": { "type": "integer", "format": "int64" },
          "user_id": { "type": "integer", "format": "int64" },
          "joined_at": { "type": "string", "format": "date-time" }
        }
      },
      "NewParticipant": {
        "type": "object",
        "properties": {
          "user_id": { "type": "integer", "format": "int64" }
        },
        "required": ["user_id"]
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": { "type": "integer", "format": "int32" },
          "message": { "type": "string" }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}
