{
  "openapi": "3.0.1",
  "info": {
    "title": "{Clubsy} - Gestão Esportiva API",
    "description": "API para gerenciar escolinhas e clubes esportivos.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.clubsy.com/v1"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    { "name": "Events", "description": "Endpoints relacionados aos eventos" }
  ],
  "paths": {
    "/events": {
      "get": {
        "tags": ["Events"],
        "description": "Listar todos os eventos",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Número máximo de resultados",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Eventos retornados com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Event"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Erro na solicitação",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Events"],
        "description": "Criar um novo evento",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewEvent"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Evento criado com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Event"
                }
              }
            }
          },
          "400": {
            "description": "Erro na validação dos dados",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/events/{eventId}": {
      "get": {
        "tags": ["Events"],
        "description": "Obter detalhes de um evento específico",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "description": "ID do evento",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Detalhes do evento retornados com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Event"
                }
              }
            }
          },
          "404": {
            "description": "Evento não encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Events"],
        "description": "Atualizar um evento",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "description": "ID do evento",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EventUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Evento atualizado com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Event"
                }
              }
            }
          },
          "400": {
            "description": "Erro na validação dos dados",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Events"],
        "description": "Excluir um evento",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "description": "ID do evento",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Evento excluído com sucesso"
          },
          "404": {
            "description": "Evento não encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/events/{eventId}/attendees": {
      "get": {
        "tags": ["Events"],
        "description": "Listar participantes de um evento específico",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "description": "ID do evento",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Participantes retornados com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Attendees"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Evento não encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Events"],
        "description": "Registrar presença em um evento",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "description": "ID do evento",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AttendanceRecord"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Presença registrada com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AttendanceRecord"
                }
              }
            }
          },
          "400": {
            "description": "Erro na validação dos dados",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/events/{eventId}/reports": {
      "get": {
        "tags": ["Events"],
        "description": "Gerar relatório de um evento específico",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "description": "ID do evento",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Relatório gerado com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventReport"
                }
              }
            }
          },
          "404": {
            "description": "Evento não encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/events/{eventId}/feedbacks": {
      "get": {
        "tags": ["Events"],
        "description": "Listar feedbacks de um evento específico",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "description": "ID do evento",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Feedbacks retornados com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Feedback"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Evento não encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Events"],
        "description": "Enviar feedback sobre um evento",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "description": "ID do evento",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewFeedback"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Feedback enviado com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Feedback"
                }
              }
            }
          },
          "400": {
            "description": "Erro na validação dos dados",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Evento não encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Event": {
        "type": "object",
        "properties": {
          "id": { "type": "integer", "format": "int64" },
          "name": { "type": "string" },
          "description": { "type": "string" },
          "start_date": { "type": "string", "format": "date-time" },
          "end_date": { "type": "string", "format": "date-time" },
          "location": { "type": "string" },
          "created_at": { "type": "string", "format": "date-time" },
          "updated_at": { "type": "string", "format": "date-time" }
        }
      },
      "NewEvent": {
        "type": "object",
        "properties": {
          "name": { "type": "string" },
          "description": { "type": "string" },
          "start_date": { "type": "string", "format": "date-time" },
          "end_date": { "type": "string", "format": "date-time" },
          "location": { "type": "string" }
        },
        "required": ["name", "start_date", "end_date", "location"]
      },
      "EventUpdate": {
        "type": "object",
        "properties": {
          "name": { "type": "string" },
          "description": { "type": "string" },
          "start_date": { "type": "string", "format": "date-time" },
          "end_date": { "type": "string", "format": "date-time" },
          "location": { "type": "string" }
        }
      },
      "Attendees": {
        "type": "object",
        "properties": {
          "id": { "type": "integer", "format": "int64" },
          "name": { "type": "string" },
          "email": { "type": "string" },
          "attended": { "type": "boolean" }
        }
      },
      "AttendanceRecord": {
        "type": "object",
        "properties": {
          "attendees_id": { "type": "integer", "format": "int64" },
          "attended": { "type": "boolean" }
        },
        "required": ["attendees_id", "attended"]
      },
      "EventReport": {
        "type": "object",
        "properties": {
          "event_id": { "type": "integer", "format": "int64" },
          "total_attendeess": { "type": "integer", "format": "int32" },
          "attended_count": { "type": "integer", "format": "int32" },
          "absent_count": { "type": "integer", "format": "int32" },
          "generated_at": { "type": "string", "format": "date-time" }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": { "type": "integer", "format": "int32" },
          "message": { "type": "string" }
        }
      },
      "Feedback": {
        "type": "object",
        "properties": {
          "id": { "type": "integer", "format": "int64" },
          "event_id": { "type": "integer", "format": "int64" },
          "attendees_id": { "type": "integer", "format": "int64" },
          "rating": {
            "type": "integer",
            "format": "int32",
            "description": "Classificação (1-5)"
          },
          "comment": { "type": "string", "description": "Comentário opcional" },
          "created_at": { "type": "string", "format": "date-time" }
        }
      },
      "NewFeedback": {
        "type": "object",
        "properties": {
          "rating": {
            "type": "integer",
            "format": "int32",
            "description": "Classificação (1-5)"
          },
          "comment": { "type": "string", "description": "Comentário opcional" }
        },
        "required": ["rating"]
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}
