{
  "openapi": "3.0.1",
  "info": {
    "title": "{Clubsy} - Gestão Esportiva API",
    "description": "API para gerenciar escolinhas e clubes esportivos.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.clubsy.com/v1"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Resources",
      "description": "Endpoints relacionados aos recursos (quadras, equipamentos, etc.)"
    }
  ],
  "paths": {
    "/resources": {
      "get": {
        "tags": ["Resources"],
        "description": "Listar todos os recursos",
        "responses": {
          "200": {
            "description": "Recursos retornados com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Resource"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Erro na solicitação",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Resources"],
        "description": "Cadastrar um novo recurso",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewResource"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Recurso cadastrado com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Resource"
                }
              }
            }
          },
          "400": {
            "description": "Erro na validação dos dados",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/resources/{resourceId}": {
      "get": {
        "tags": ["Resources"],
        "description": "Obter detalhes de um recurso específico",
        "parameters": [
          {
            "name": "resourceId",
            "in": "path",
            "description": "ID do recurso",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Detalhes do recurso retornados com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Resource"
                }
              }
            }
          },
          "404": {
            "description": "Recurso não encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Resources"],
        "description": "Atualizar um recurso",
        "parameters": [
          {
            "name": "resourceId",
            "in": "path",
            "description": "ID do recurso",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResourceUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Recurso atualizado com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Resource"
                }
              }
            }
          },
          "400": {
            "description": "Erro na validação dos dados",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Resources"],
        "description": "Excluir um recurso",
        "parameters": [
          {
            "name": "resourceId",
            "in": "path",
            "description": "ID do recurso",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Recurso excluído com sucesso"
          },
          "404": {
            "description": "Recurso não encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/resources/{resourceId}/availability": {
      "get": {
        "tags": ["Resources"],
        "description": "Verificar disponibilidade de um recurso",
        "parameters": [
          {
            "name": "resourceId",
            "in": "path",
            "description": "ID do recurso",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "description": "Data inicial para verificar disponibilidade",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "description": "Data final para verificar disponibilidade",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Disponibilidade verificada com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AvailabilityResponse"
                }
              }
            }
          },
          "404": {
            "description": "Recurso não encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/resources/{resourceId}/bookings": {
      "post": {
        "tags": ["Resources"],
        "description": "Reservar um recurso",
        "parameters": [
          {
            "name": "resourceId",
            "in": "path",
            "description": "ID do recurso",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewBooking"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Reserva criada com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Booking"
                }
              }
            }
          },
          "400": {
            "description": "Erro na validação dos dados",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": ["Resources"],
        "description": "Listar reservas de um recurso",
        "parameters": [
          {
            "name": "resourceId",
            "in": "path",
            "description": "ID do recurso",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Reservas retornadas com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Booking"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Recurso não encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Resource": {
        "type": "object",
        "properties": {
          "id": { "type": "integer", "format": "int64" },
          "name": {
            "type": "string",
            "description": "Nome do recurso (ex: Quadra A)"
          },
          "type": {
            "type": "string",
            "enum": ["court", "equipment"],
            "description": "Tipo do recurso (quadra ou equipamento)"
          },
          "status": {
            "type": "string",
            "enum": ["available", "unavailable"],
            "description": "Status do recurso"
          },
          "created_at": { "type": "string", "format": "date-time" },
          "updated_at": { "type": "string", "format": "date-time" }
        }
      },
      "NewResource": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Nome do recurso (ex: Quadra A)"
          },
          "type": {
            "type": "string",
            "enum": ["court", "equipment"],
            "description": "Tipo do recurso (quadra ou equipamento)"
          }
        },
        "required": ["name", "type"]
      },
      "ResourceUpdate": {
        "type": "object",
        "properties": {
          "name": { "type": "string", "description": "Novo nome do recurso" },
          "status": {
            "type": "string",
            "enum": ["available", "unavailable"],
            "description": "Novo status do recurso"
          }
        }
      },
      "AvailabilityResponse": {
        "type": "object",
        "properties": {
          "resource_id": { "type": "integer", "format": "int64" },
          "is_available": {
            "type": "boolean",
            "description": "Indica se o recurso está disponível no período especificado"
          },
          "start_date": { "type": "string", "format": "date-time" },
          "end_date": { "type": "string", "format": "date-time" }
        }
      },
      "NewBooking": {
        "type": "object",
        "properties": {
          "user_id": {
            "type": "integer",
            "format": "int64",
            "description": "ID do usuário que está fazendo a reserva"
          },
          "start_date": {
            "type": "string",
            "format": "date-time",
            "description": "Data inicial da reserva"
          },
          "end_date": {
            "type": "string",
            "format": "date-time",
            "description": "Data final da reserva"
          }
        },
        "required": ["user_id", "start_date", "end_date"]
      },
      "Booking": {
        "type": "object",
        "properties": {
          "id": { "type": "integer", "format": "int64" },
          "resource_id": { "type": "integer", "format": "int64" },
          "user_id": { "type": "integer", "format": "int64" },
          "start_date": { "type": "string", "format": "date-time" },
          "end_date": { "type": "string", "format": "date-time" },
          "created_at": { "type": "string", "format": "date-time" }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": { "type": "integer", "format": "int32" },
          "message": { "type": "string" }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}
