{
  "openapi": "3.0.1",
  "info": {
    "title": "{Clubsy} - Gestão Esportiva API",
    "description": "API para gerenciar escolinhas e clubes esportivos.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.clubsy.com/v1"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],

  "tags": [
    {
      "name": "Payments",
      "description": "Endpoints relacionados aos pagamentos"
    }
  ],
  "paths": {
    "/payments": {
      "get": {
        "tags": ["Payments"],
        "description": "Listar todas as transações",
        "responses": {
          "200": {
            "description": "Transações retornadas com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Payment"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Erro na solicitação",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Payments"],
        "description": "Criar uma nova cobrança",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewPayment"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Cobrança criada com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Payment"
                }
              }
            }
          },
          "400": {
            "description": "Erro na validação dos dados",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/payments/{paymentId}": {
      "get": {
        "tags": ["Payments"],
        "description": "Obter detalhes de uma transação específica",
        "parameters": [
          {
            "name": "paymentId",
            "in": "path",
            "description": "ID da transação",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Detalhes da transação retornados com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Payment"
                }
              }
            }
          },
          "404": {
            "description": "Transação não encontrada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Payments"],
        "description": "Atualizar status de uma transação",
        "parameters": [
          {
            "name": "paymentId",
            "in": "path",
            "description": "ID da transação",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transação atualizada com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Payment"
                }
              }
            }
          },
          "400": {
            "description": "Erro na validação dos dados",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Payments"],
        "description": "Cancelar uma transação",
        "parameters": [
          {
            "name": "paymentId",
            "in": "path",
            "description": "ID da transação",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Transação cancelada com sucesso"
          },
          "404": {
            "description": "Transação não encontrada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/payments/plans": {
      "get": {
        "tags": ["Payments"],
        "description": "Listar todos os planos de pagamento",
        "responses": {
          "200": {
            "description": "Planos de pagamento retornados com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PaymentPlan"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Erro na solicitação",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Payments"],
        "description": "Criar um novo plano de pagamento",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewPaymentPlan"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Plano de pagamento criado com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentPlan"
                }
              }
            }
          },
          "400": {
            "description": "Erro na validação dos dados",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/payments/plans/{planId}": {
      "get": {
        "tags": ["Payments"],
        "description": "Obter detalhes de um plano específico",
        "parameters": [
          {
            "name": "planId",
            "in": "path",
            "description": "ID do plano",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Detalhes do plano retornados com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentPlan"
                }
              }
            }
          },
          "404": {
            "description": "Plano não encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Payments"],
        "description": "Atualizar um plano de pagamento",
        "parameters": [
          {
            "name": "planId",
            "in": "path",
            "description": "ID do plano",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentPlanUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Plano atualizado com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentPlan"
                }
              }
            }
          },
          "400": {
            "description": "Erro na validação dos dados",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Payments"],
        "description": "Excluir um plano de pagamento",
        "parameters": [
          {
            "name": "planId",
            "in": "path",
            "description": "ID do plano",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Plano excluído com sucesso"
          },
          "404": {
            "description": "Plano não encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Payment": {
        "type": "object",
        "properties": {
          "id": { "type": "integer", "format": "int64" },
          "amount": { "type": "number", "format": "float" },
          "status": {
            "type": "string",
            "enum": ["pending", "completed", "failed"]
          },
          "created_at": { "type": "string", "format": "date-time" },
          "updated_at": { "type": "string", "format": "date-time" }
        }
      },
      "NewPayment": {
        "type": "object",
        "properties": {
          "amount": { "type": "number", "format": "float" },
          "description": { "type": "string" },
          "payment_method": {
            "type": "string",
            "enum": ["credit_card", "debit_card", "pix", "boleto"]
          },
          "due_date": { "type": "string", "format": "date" }
        },
        "required": ["amount", "description", "payment_method"]
      },
      "PaymentUpdate": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": ["pending", "completed", "failed"]
          }
        },
        "required": ["status"]
      },
      "PaymentPlan": {
        "type": "object",
        "properties": {
          "id": { "type": "integer", "format": "int64" },
          "name": { "type": "string" },
          "amount": { "type": "number", "format": "float" },
          "interval": {
            "type": "string",
            "enum": ["monthly", "quarterly", "yearly"]
          },
          "created_at": { "type": "string", "format": "date-time" },
          "updated_at": { "type": "string", "format": "date-time" }
        }
      },
      "NewPaymentPlan": {
        "type": "object",
        "properties": {
          "name": { "type": "string" },
          "amount": { "type": "number", "format": "float" },
          "interval": {
            "type": "string",
            "enum": ["monthly", "quarterly", "yearly"]
          }
        },
        "required": ["name", "amount", "interval"]
      },
      "PaymentPlanUpdate": {
        "type": "object",
        "properties": {
          "name": { "type": "string" },
          "amount": { "type": "number", "format": "float" },
          "interval": {
            "type": "string",
            "enum": ["monthly", "quarterly", "yearly"]
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": { "type": "integer", "format": "int32" },
          "message": { "type": "string" }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}
