{
  "openapi": "3.0.1",
  "info": {
    "title": "{Clubsy} - Gestão Esportiva API",
    "description": "API para gerenciar escolinhas e clubes esportivos.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.clubsy.com/v1"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Notifications",
      "description": "Endpoints relacionados às notificações"
    }
  ],
  "paths": {
    "/notifications": {
      "get": {
        "tags": ["Notifications"],
        "description": "Listar todas as notificações",
        "responses": {
          "200": {
            "description": "Notificações retornadas com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Notification"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Erro na solicitação",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Notifications"],
        "description": "Enviar uma nova notificação",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewNotification"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Notificação enviada com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Notification"
                }
              }
            }
          },
          "400": {
            "description": "Erro na validação dos dados",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/notifications/{notificationId}": {
      "get": {
        "tags": ["Notifications"],
        "description": "Obter detalhes de uma notificação específica",
        "parameters": [
          {
            "name": "notificationId",
            "in": "path",
            "description": "ID da notificação",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Detalhes da notificação retornados com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Notification"
                }
              }
            }
          },
          "404": {
            "description": "Notificação não encontrada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Notifications"],
        "description": "Marcar notificação como lida",
        "parameters": [
          {
            "name": "notificationId",
            "in": "path",
            "description": "ID da notificação",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Notificação marcada como lida com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Notification"
                }
              }
            }
          },
          "400": {
            "description": "Erro na validação dos dados",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Notifications"],
        "description": "Excluir uma notificação",
        "parameters": [
          {
            "name": "notificationId",
            "in": "path",
            "description": "ID da notificação",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Notificação excluída com sucesso"
          },
          "404": {
            "description": "Notificação não encontrada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/users/{userId}/notifications": {
      "get": {
        "tags": ["Notifications"],
        "description": "Listar notificações de um usuário específico",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "ID do usuário",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Notificações retornadas com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Notification"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Usuário não encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/notifications/history": {
      "get": {
        "tags": ["Notifications"],
        "description": "Consultar histórico de notificações enviadas",
        "responses": {
          "200": {
            "description": "Histórico de notificações retornado com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NotificationHistory"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Erro na solicitação",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Notification": {
        "type": "object",
        "properties": {
          "id": { "type": "integer", "format": "int64" },
          "user_id": { "type": "integer", "format": "int64" },
          "title": { "type": "string" },
          "message": { "type": "string" },
          "read": { "type": "boolean" },
          "created_at": { "type": "string", "format": "date-time" },
          "updated_at": { "type": "string", "format": "date-time" }
        }
      },
      "NewNotification": {
        "type": "object",
        "properties": {
          "user_id": { "type": "integer", "format": "int64" },
          "title": { "type": "string" },
          "message": { "type": "string" }
        },
        "required": ["user_id", "title", "message"]
      },
      "NotificationHistory": {
        "type": "object",
        "properties": {
          "id": { "type": "integer", "format": "int64" },
          "user_id": { "type": "integer", "format": "int64" },
          "title": { "type": "string" },
          "message": { "type": "string" },
          "sent_at": { "type": "string", "format": "date-time" },
          "status": { "type": "string", "enum": ["delivered", "failed"] }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": { "type": "integer", "format": "int32" },
          "message": { "type": "string" }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}
